$dark-gray: #212121;
$gray: #ccc;
$gray-light: #f1f1f1;

$font-color: $dark-gray;

$font-size-lg: 1.25rem;
$font-size: 1rem;
$font-size-sm: 0.75rem;

$color-primary: #e84d0f;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$material-design-icons-font-path: "../../node_modules/material-design-icons-iconfont/dist/fonts/";