@import "../../node_modules/material-icons/iconfont/variables.scss";

@import "_variables";
@import "_mixins";
@import "_commons";
@import "components/carousel";
@import "components/quick-news";
@import "components/tooltip";
@import "components/top-menu";

@import "../../node_modules/material-icons/iconfont/material-icons.scss";


body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  color: $font-color;
  font-size: 16px;

  @include sm {
    text-align: center;
  }

  @include md {
    text-align: center;
  }
}

p {
  font-size: 18px;
}

a:hover, a.active {
  color: $color-primary;
}

h1 {
  font-weight: 100;
  font-size: 3rem;
}

h2 {
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1400px;
}

.container-75 {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 1400 * 0.75px;
}

.row {
  display: flex;
}

.d-flex {
  display: flex;
}

.justify-content-right {
  justify-content: flex-end;
}

.mt-2 {
  margin-top: 1rem
}

.mt-4 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.mr-2 {
  margin-right: 1rem;
}

.pt-4 {
  padding-top: 1rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.float-left {
  float: left;

  @include sm {
    float: none;
  }

  @include md {
    float: none;
  }
}

.uppercase {
  text-transform: uppercase;
}

.header {
  background: #fff;
}

.body-content {
  background: $gray-light;
  padding: 1rem 0;
}

.footer {
  background: #fff;
  text-align: center;

  .copyright {
    font-weight: 600;
  }
}

.chart {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}

.columns {
  column-count: 2;
  column-gap: 7.5rem;
  hyphens: auto;

  @include sm {
    column-count: 1;
  }

  @include md {
    column-count: 1;
  }

  p:first-child {
    margin-top: 0;
  }
}

