@import "_variables";
@import "_mixins";
@import "_commons";
@import "../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss";

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif;
  font-size: 1.1rem;
}

a:hover {
  color: $color-primary;
}

h2 {
  font-weight: 100;
  font-size: 3rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1400px;
}

.row {
  display: flex;
}

.d-flex {
  display: flex;
}

.justify-content-right {
  justify-content: flex-end;
}

.col-4 {
  width: 100 / 12 * 4%;
}

.col-8 {
  width: 100 / 12 * 8%;
}

.mt-4 {
  margin-top: 1rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.top-menu-item {
  text-transform: uppercase;
  display: inline-flex;
  position: relative;
  margin: 0 1rem;

  & a {
    padding: 1rem 0;
  }

  &:after {
    content: "";
    position: absolute;
    height: 1px;
    left: 0;
    bottom: .5rem;
    width: 0;
    background: $color-primary;
    transition: width .3s ease-out;
  }

  &:hover:after {
    width: 100%;
  }

  &.active {
    a {
      color: $color-primary;
    }

    &:after {
      width: 100%;
    }
  }
}

.carousel {
  width: 100%;
  position: relative;

  .carousel-image{
    transition: opacity 1s ease-out;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;

    &.active {
      opacity: 1;
      position: initial;
    }

    img {
      width: 100%;
    }
  }

  .carousel-caption {
    position: absolute;
    left: 15%;
    top: 10%;
    width: 50%;
    z-index: 1;
  }

  .carousel-link {
    position: absolute;
    right: 20%;
    top: 75%;
    background: #fff;
    padding: 1rem 3rem;
    border-radius: 4rem;
    z-index: 1;

    a {
      padding: 1rem 0;
      color: $color-primary;
    }
  }

  .carousel-controls {

    .material-icons {
      font-size: 8rem;
    }

    .carousel-arrow-left, .carousel-arrow-right {
      &:hover .material-icons {
        color: $color-primary;
      }
      position: absolute;
      top: calc(50% - 8rem / 2);
      cursor: pointer;
    }

    .carousel-arrow-left {
      left: 0;
    }

    .carousel-arrow-right {
      right: 0;
    }
  }
}